# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode Workspace
**.vscode
workspace.code-workspace

# Any binaires
**bin/

# Build folders
**build/
**Build/

# Random clutter
*.pdf
IPK4/outputHull.txt
